
body {
  background-image: none;
  background-color: rgb(71 71 71);
  display: grid;
  grid-auto-rows: calc(var(--title-size) + 8rem) auto;
}

footer {
  display: none;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding-left: 4rem;
}

.date {
  display: none;
}

.timeNdate {
  width: 100%;
  padding: 0.5rem 4rem;
}

header {
  justify-content: flex-end;
  background-color: black;
  color: black;
}

.logoHeader img {
  display: block;
  height: calc(var(--title-size) + 4rem);
}

.logoHeader {
  display: flex;
  height: calc(var(--title-size) + 4rem);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.logoHeader p {
  color: white;
  font-size: calc(var(--title-size) - 0.5rem);
}

.UTCWrapper {
  align-items: flex-end;
  font-size: calc(var(--title-size) - 0.5rem);
  margin-right: 1rem;
}

.UTCWrapper > span {
  color: white;
}
main {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-spacing: 0;
}

.tbHeader {
  font-size: var(--small_font_size);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

/* table .tbRow:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
*/
table .tbRow:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.585);
}

.tbRow {
  background-color: rgb(43 43 43);
}

.tbCell {
  font-size: calc(var(--base_font_size) - 1rem);
  text-align: center;
  font-weight: 100;
  min-height: var(--base_font_size);
}
.DISPO{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.DISPO img{
  height: var(--base_font_size);
}

.ETD {
  color: #f4ca17;
}
