body {
  background-image: url(/assets/ChatGPT\ Image\ Apr\ 24\,\ 2025\,\ 08_48_45\ AM.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
}
* {
  color: aliceblue;
  font-family: poppins;
  word-spacing: 0.1ch;
}
main {
  display: grid;
  grid-template-columns: 4.5fr 3fr;
}

.windContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.mancheContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.leftContainer {
  padding: 0em 1em 0 2em;
}

.mancheContainer {
  padding: 0 5%;
}

.MaJ {
  font-size: large;
  margin: 1em 0 1em 10px;
}

.metarWind {
  font-size: var(--sub_title_size);
  display: flex;
  justify-content: center;
}

.backPiste {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
}

/* .piste {
  width: 80%; 
  height: auto; 
  max-width: 300px;
} */

.wind02 {
  align-self: end;
}

.wind020 {
  align-self: start;
}

.windCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.mancheAir {
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
  height: 50%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
}

.METAR {
  font-size: var(--base_font_size);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.METAR > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.METAR_bottom {
  border-top: 5px white solid;
}

.METAR_bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1rem;
}

.pressure {
  text-transform: capitalize;
  border-left: 5px white solid;
}

.pressureIcon {
  height: 80%;
}

.METAR_separator {
  align-self: stretch;
  width: 5px;
  border-right: 5px white solid;
  height: 90px;
}

.heureAero {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
}

.heureSol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heureSol > img {
  height: 9rem;
}

.heureSol > p {
  font-size: var(--small_font_size);
}

.lfsp {
  font-size: var(--base_font_size);
  text-transform: uppercase;
}

.weatherUpdate {
  font-size: var(--small_font_size);
  gap: 30px;
  padding-bottom: 0px;
}

.previsiont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.previsiont > img {
  height: 8rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 2em 0 1em;
}

@media screen and (max-width: 1900px) {
  .cards {
    padding: 1rem;
  }
  .weatherUpdate {
    padding-bottom: 0px;
  }
  .METAR_top > img {
    height: 4.5rem;
  }
  .pressureIcon {
    height: 4.5rem;
  }
  .previsiont > img {
    height: 7rem;
  }
  .heureSol > img {
    height: 8rem;
  }
  .piste {
    height: 34rem;
  }
  .backPiste {
    height: 45%;
  }
  .mancheAir {
    height: 45%;
  }
}
