body {
  background-image: url(/assets/ChatGPT\ Image\ Apr\ 24\,\ 2025\,\ 08_48_45\ AM.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 8.5fr;
}
* {
  color: aliceblue;
  font-family: poppins;
  word-spacing: 0.1ch;
}
main {
  display: grid;
  grid-template-columns: 4.5fr 3fr;
}

.windContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.mancheContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.leftContainer {
  padding: 0em 2em;
}

.mancheContainer {
  padding: 0 5%;
}

.MaJ {
  margin-top: 1em;
  font-size: large;
}

.metarWind {
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.backPiste {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
}

.piste {
  width: 80%; /* or any size */
  height: auto; /* maintain aspect ratio */
  max-width: 250px; /* optional max width */
}

.windCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.mancheAir {
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
  height: 50%;
}

.cards{
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}