body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
* {
  color: aliceblue;
  font-family: poppins;
  word-spacing: 0.1ch;
}
main {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 3rem;
  padding: 0 3rem;
}

.windContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.mancheContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.mancheContainer {
  padding: 0 5%;
}

.MaJ {
  font-size: large;
  margin: 1em 0 1em 10px;
}

.metarWind {
  font-size: var(--sub_title_size);
  display: flex;
  justify-content: center;
}

.backPiste {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
}

/* .piste {
  width: 80%; 
  height: auto; 
  max-width: 300px;
} */

.wind02 {
  align-self: end;
}

.wind020 {
  align-self: start;
}

.windCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.mancheAir {
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
  height: 50%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
}

.METAR {
  font-size: var(--base_font_size);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.METAR > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.METAR_bottom {
  border-top: 5px white solid;
}

.METAR_bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.pressure {
  border-left: 5px white solid;
  gap: 0.5ch;
  align-items: center;
}

.pressureIcon {
  height: 80%;
}

.min {
  text-transform: lowercase;
}

.QNH {
  justify-content: space-evenly;
}

.METAR_separator {
  align-self: stretch;
  width: 5px;
  border-right: 5px white solid;
  height: 90px;
}

.heureAero {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
}

.heureSol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heureSol > img {
  height: 9rem;
}

.heureSol > p {
  font-size: var(--small_font_size);
}

.lfsp {
  font-size: var(--base_font_size);
  text-transform: uppercase;
}

.weatherUpdate {
  font-size: var(--small_font_size);
  gap: 30px;
  padding-bottom: 0px;
}

.previsiont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.previsiont > img {
  height: 8rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fog {
  padding-left: 1ch;
  width: 14%;
}

@media screen and (max-width: 1900px) {
  .cards {
    padding: 0.5rem;
  }
  .weatherUpdate {
    padding-bottom: 0px;
  }
  .METAR_top > img {
    height: 4.5rem;
  }
  .pressureIcon {
    height: 4.5rem;
  }
  .previsiont > img {
    height: 7rem;
  }
  .heureSol > img {
    height: 8rem;
  }
  .piste {
    height: 30rem;
  }
  .backPiste {
    height: 45%;
  }
  .mancheAir {
    height: 45%;
  }
  .fog {
    padding-left: 1ch;
    width: 15%;
  }
}
@media screen and (max-height: 1000px) {
  .windContainer {
    height: 100%;
  }

  .heureSol > img {
    height: 8rem;
  }
  .previsiont > img {
    height: 7rem;
  }

  .timeNdate {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1081px) {
  .cards {
    padding: 0.2rem;
  }
  .METAR_top > img {
    height: 4rem;
  }
  .pressureIcon {
    height: 4rem;
  }
  .previsiont > img {
    height: 6rem;
  }
  .heureSol > img {
    height: 6rem;
  }
  .piste {
    height: 30rem;
  }
  .backPiste {
    height: 40%;
  }
  .mancheAir {
    height: 40%;
  }
  .heureSol > img {
    height: 8rem;
  }
  .wind020 > img,
  .wind02 > img {
    height: 9rem;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: 4.2fr 3.1fr;
  }
  .cards {
    padding: 0.2rem;
  }
  .METAR_top > img {
    height: 4rem;
  }
  .pressureIcon {
    height: 4rem;
  }
  .previsiont > img {
    height: 6rem;
  }
  .piste {
    height: 30rem;
  }
  .backPiste {
    height: 40%;
  }
  .mancheAir {
    height: 40%;
  }
  .heureSol > img {
    height: 6rem;
  }
  .wind020 > img,
  .wind02 > img {
    height: 9rem;
  }
  /* .pressure {
    gap: 0ch;
    justify-content: space-between; */
  /* } */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  main {
    grid-template-rows: 4fr 3fr;
  }
}
