@font-face {
  font-family: poppins;
  src: url(Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.timeNdate {
  font-family: poppins;
  display: flex;
  font-size: 3em;
  width: 700px;
  justify-content: space-between;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.utc-time{
    width: 192px;
    display: flex;
    justify-content: space-between;
}

.UTCWrapper{
    display: flex;
}